.rick-character-list,
.rick-character-detail {
  flex: 1;
  min-width: 0;
}

.rick-character-detail {
  &__content {
    display: grid;
    gap: 0.75rem;
  }

  &__avatar {
    width: 6.25rem;
    height: 6.25rem;
  }
}
